*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;

}
.fa-quote-left, .fa-quote-right {
    font-size: 35px;
    color: rgb(179, 0, 0);
}
.quote
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.author 
{

    margin:10px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
    font-family: cursive;
}
hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.btn {
  background: #ad9d26;
  align-self: flex-end;
  background-image: -webkit-linear-gradient(top, #ad9d26, #2bb86d);
  background-image: -moz-linear-gradient(top, #ad9d26, #2bb86d);
  background-image: -ms-linear-gradient(top, #ad9d26, #2bb86d);
  background-image: -o-linear-gradient(top, #ad9d26, #2bb86d);
  background-image: linear-gradient(to bottom, #ad9d26, #2bb86d);
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: dotted #858c1f 3px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #3498db);
  background-image: -moz-linear-gradient(top, #fc3c3c, #3498db);
  background-image: -ms-linear-gradient(top, #fc3c3c, #3498db);
  background-image: -o-linear-gradient(top, #fc3c3c, #3498db);
  background-image: linear-gradient(to bottom, #fc3c3c, #3498db);
  text-decoration: none;
}
.container:hover
{
    box-shadow: 0 10px 10px rgb(230, 0, 0);
}